<nav class="navbar navbar-expand-lg navbar-light bg-light mouse">
  <a routerLink="/home" class="navbar-brand">XML Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbarList>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item mouse">
        <a routerLink="/adminPanel" class="nav-link link">Admin panel
        
        </a>
      </li>
      <li class="nav-item mouse">
        <a *ngIf = "!isLoggedIn()" routerLink="/login" class="nav-link link">Log in
          <span class="fa fa-sign-in link"></span>
        </a>
      </li>
      <li class="nav-item mouse">
        <a *ngIf = "isLoggedIn()" (click)="logout()" class="nav-link link">Log out
          <span class="fa fa-sign-out link"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
