<h1 class="page-header">
  Kategorije smestaja
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addCategory">
    <i class="fa fa-plus"></i>Add category</button>
</h1>
<hr/>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th class="col-2">#</th>
        <th class="col-6">Naziv</th>
        <th class="col-2">&nbsp;</th>
        <th class="col-2">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let cat of pageset.content; let i = index">
        <td class="col-2">{{cat.id}}</td>
        <td class="col-6">
          <b>{{ cat.name | uppercase }}</b>
        </td>
        <td class="col-2">
          <button class="btn btn-success" (click)="fillField(cat)" data-toggle="modal" data-target="#editCategory">
            Edit category </button>
        </td>
        <td class="col-2">
          <button class="btn btn-danger" (click)="deleteCategory(cat.id, i)">
            Delete category</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination pagination-sm justify-content-center" *ngIf="pageset.totalPages > 0">
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="search(0)">
        <<</a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="search(page-1)">
        <</a>
    </li>
    <li *ngFor="let n of range()" [ngClass]="{'page-item': true}">
      <a [ngClass]="{'page-link': true, 'active': n == page}" (click)="search(n)" *ngIf="n != page">{{n+1}}</a>
      <span [ngClass]="{'page-link': true, 'active': n == page}" *ngIf="n == page">{{n+1}}</span>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="search(pagePlus(1))">></a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="search(pagesCount - 1)">>></a>
    </li>
  </ul>
</nav>


<!--MODALNI ZA DODAVANJE KATEGORIJE -->
<div id="addCategory" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #addForm="ngForm" (submit)="addCategory()">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Name: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="name" class="form-control" id="name">
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Add " />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODALNI ZA EDIT KATEGORIJE -->
<div id="editCategory" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #editForm="ngForm" (ngSubmit)="editCategory()">

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Name: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="name" class="form-control" id="name">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Edit category" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>