<h1 class="page-header">
  Registrovani agenti
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAgent">
    <i class="fa fa-plus"></i>Add agent</button>
</h1>
<hr/>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-light">
      <tr class="d-xl-flex ">
        <th class="col-1">#</th>
        <th class="col-1">First name</th>
        <th class="col-1">Last name</th>
        <th class="col-2">Email</th>
        <th class="col-1">Username</th>
        <th class="col-2">Reg date</th>
        <th class="col-1">PIB</th>
        <th class="col-1">&nbsp;</th>
        <th class="col-1">&nbsp;</th>
        <th class="col-1">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let agent of pageset.content; let i = index">
        <td class="col-1">{{agent.id}}</td>
        <td class="col-1">
          <b>{{ agent.firstName }}</b>
        </td>
        <td class="col-1">
          <b>{{ agent.lastName }}</b>
        </td>
        <td class="col-2">
          <b>{{ agent.email }}</b>
        </td>
        <td class="col-1">
          <b>{{ agent.username }}</b>
        </td>
        <td class="col-2">
          <b>{{ agent.registrationDate }}</b>
        </td>
        <td class="col-1">
          <b>{{ agent.pib }} </b>
        </td>
        <td class="col-1">
          <button class="btn btn-success" (click)="fillField(agent)" data-toggle="modal" data-target="#editAgent">
            Edit </button>
        </td>
        <td class="col-1">
          <button class="btn btn-danger" (click)="deleteAgent(agent.id, i)">
            Delete</button>
        </td>
        <td class="col-1" *ngIf="!agent.blocked">
          <button class="btn btn-danger" (click)="blockAgent(agent)">
            Block</button>
        </td>
        <td class="col-1" *ngIf="agent.blocked">
          <button class="btn btn-success" (click)="unblockAgent(agent)">
            Unblock</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination pagination-sm justify-content-center" *ngIf="pageset.totalPages > 0">
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="search(0)">
        <<</a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="search(page-1)">
        <</a>
    </li>
    <li *ngFor="let n of range()" [ngClass]="{'page-item': true}">
      <a [ngClass]="{'page-link': true, 'active': n == page}" (click)="search(n)" *ngIf="n != page">{{n+1}}</a>
      <span [ngClass]="{'page-link': true, 'active': n == page}" *ngIf="n == page">{{n+1}}</span>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="search(pagePlus(1))">></a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="search(pagesCount - 1)">>></a>
    </li>
  </ul>
</nav>


<!--MODALNI ZA DODAVANJE AGENTA -->
<div id="addAgent" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #addForm="ngForm" (submit)="addAgent()">

          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label"> First name: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #firstName="ngModel" name="firstName" class="form-control" id="firstName">
            </div>
          </div>

          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label"> Last name: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #lastName="ngModel" name="lastName" class="form-control" id="lastName">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label"> Email: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #email="ngModel" name="email" class="form-control" id="email">
            </div>
          </div>

          <div class="form-group">
            <label for="username" class="col-sm-2 control-label"> Username: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #username="ngModel" name="username" class="form-control" id="username">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label"> Password: </label>
            <div class="col-sm-8">
              <input type="password" ngModel #username="ngModel" name="password" class="form-control" id="password">
            </div>
          </div>


          <div class="form-group">
            <label for="pib" class="col-sm-2 control-label"> PIB: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #pib="ngModel" name="pib" class="form-control" id="pib">
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Add " />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODALNI ZA EDIT KATEGORIJE -->
<div id="editAgent" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #editForm="ngForm" (submit)="editAgent()">

          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label"> First name: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #firstName="ngModel" name="firstName" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label"> Last name: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #lastName="ngModel" name="lastName" class="form-control" >
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label"> Email: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #email="ngModel" name="email" class="form-control" >
            </div>
          </div>

          <div class="form-group">
            <label for="username" class="col-sm-2 control-label"> Username: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #username="ngModel" name="username" class="form-control" >
            </div>
          </div>


          <div class="form-group">
            <label for="pib" class="col-sm-2 control-label"> PIB: </label>
            <div class="col-sm-8">
              <input type="text" ngModel #pib="ngModel" name="pib" class="form-control">
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Add " />
        </form>
      </div>
    </div>
  </div>
</div>